*{
    margin:0;
    padding: 0;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top:0px;
  }
  .navcomp img{
    height: 70px;
    width: 70px;
    
  }
  
  .navcomp {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navcomp a {
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    font-size: 1rem;
  }
  .navcomp a:hover{
    border-bottom:2px solid black ;
  }

  
  .navcomp button {
    background-color:#13C5DD;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navcomp button:hover {
    background-color: #47e0f5;
  }
  .navbar-mob{
    display: none;
  }
  
  @media screen and (max-width: 1200px) { 
    .Navbar{
        width: 100%;
    }
  }
 

   @media screen and (max-width: 768px) { 
    .Navbar{
        display: none;
    }
    .navbar-mob{
     display: flex;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     font-family: 'Roboto', sans-serif;
     align-items: center;
     justify-content:space-between;
     width: 100vw;
     }
    .navcomp-mob img {
        width: 50px; 
        height: 50px; 
      }
      
     .hamburger-icon {
        cursor: pointer;
        display: block;
      }
      
      .bar {
        height: 2px;
        width: 15px;
        background-color: black;
        color: #13C5DD;
        margin: 6px 5px;
      }
    
  
    .mobile-menu {
      position: absolute;
      top: 60px; 
      left: 0;
      right: 0;
      background-color: white;
      color: black;
      font-family: 'Roboto', sans-serif;
    }

    .button-mob  button {
        background-color: #13C5DD;
        color: white;
        padding: 8px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin:5px;
      }
      .mob-navcomp a {
        text-decoration: none;
        color: #13C5DD;
        font-weight: bold;
        font-size: 16px;
       margin: 0px 5px;
      }
  
      hr{
        margin: 5px;
        opacity: 0.5;
      }
      .mob-navcomp button{
        background-color: rgb(37, 35, 35);
        color: #13C5DD;
        padding: 5px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin:5px;
      }
  
  
    }