.login-container {
   
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .google-login {
    margin-top: 20px;
  }
  
  .forgot-password {
    margin-top: 10px;
    text-align: center;
  }
  
  a {
    color: #2196f3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  