body{
    font-family: 'Arial', sans-serif;
}
.maincontainer{
  background-color: gainsboro;
  height: 100vh;
}
.doctorimage img {
    width: 100px;
    height: 100px;
    
  }


.container{
    background-color: white;
    width:70vw;
    margin: 2px auto;
    display: flex;
    flex-direction: column;
}
.appointpic img {
    width: 80px;
    height: 80px;
    margin: 10px;
}
.profile{
    height: 19%;
    width: 100%;
    display: flex;
    border-bottom: 1px dotted rgb(179, 178, 178);
    margin:2px ;
}
  
 .doctorimage{
   height: 100%;
   width: 15%;
   margin: 0px;
   margin-left: 20px;

 }
 .doctordata{
    margin-top: 10px;
    height: 100%;
    width: 60%;
 }
 .doctordata h5,
.doctordata .specialty {
  display: block; 
  margin: 2px; 
}
.specialty{
    font-size: 13px;
}
.viewprofile{
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid blue;
    color: blue;
}
 .appointment{
    height: 28%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
 }
 .appointdata{
    height: 100%;
    width: 30%;
    display: block;
    margin: 10px;
 }
  
 .appointdata h4,
.appointdata p {
  margin: 0; 
}
.appointdata p {
    margin-top: 8px;
  }
.consult{
    font-size: 14px;
    margin: 10px;
    color: gray;
}
.fees{
    font-size: 12px;
    margin: 5px;
    color: green;
    font-weight: 3000;
}
.feeatClinic{
    font-size: 12px;
    margin: 5px;
    color: blue;
    font-weight: 3000;

}

 .appointpic{
    height: 100%;
    width: 70%;
   display: flex;
   justify-content: flex-end;
 }



.navbar{
    height: 10vh;
    width: 100vw;
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}
.clinic{
    height: 15%;
    width: 100%;
    margin-left:20px ;
}
.clinicAdress{
    display: inline;
}
.point {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 7px solid green; 
    border-radius: 50%; 
    margin-right: 10px; 
  }
  .clinic p {
    display: inline; 
    margin-right: 10px;
  }
  .clinicAdress {
    margin-left: 40px;
    display: flex; 
    align-items: center; 
  }
  .clinichead{
    font-weight:bold;
  }
.slot{
 
   min-height: 10%;
  width: 100%;
 display: flex;
  justify-content: space-around;
  padding-top: 20px;
  border-bottom: 1px dotted gray;
}
.slot1{
  min-height: 18%;
  width: 95%;

  justify-content: space-around;

}
.slot2{
  min-height: 18%;
  width: 95%;
  justify-content: space-around;
}
.today{
  display: block;
}

.slot img{
  margin-right: 15px;
  margin-left: 15px;
}
.showslot{
  display: flex;
  margin: 10px;

  flex-wrap: wrap;
}
  .accept{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

  }
  .submit {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
  .submit:hover {
    background-color: #2980b9; /* Change background color on hover */
  }
  .activecontinue{
    background-color: #2980b9;
  }





